{% extends 'base.html.twig' %}


{% block title %}Liste de films{% endblock %}

{% block body %}
    {% if films %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Film</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    <tr>
                        <td>{{ film.title }}</td>
                        <td>{{ film.date|date('Y') }}</td>
                        <td><a href="/film/{{ film.id }}" class="btn-btn-dark">Voir le détail du film</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun film à afficher</p>
    {% endif %}
{% endblock %}