{% extends 'base.html.twig' %}


{% block title %}films test{% endblock %}

{% block body %}
    <h1>{{ film.title }}</h1>
    <p>({{ film.date|date('Y') }})</p>
    <hr>
    <p>Abstract : <br/>{{ film.body }}</p>
    <hr>
    <p>Characters: <br/>John Doe, Jane Doe</p>
    <a href="/">GO BACK</a>
{% endblock %}