<nav class="navabar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Test IDIX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Liste des films</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('new') }}" class="nav-link">Ajouter un film</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('newch') }}" class="nav-link">Ajouter un personnage</a>
                </li>

            </ul>
        </div>
    </div>
</nav>